# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Excluir a pasta do Visual Studio
.vs/

# Excluir outras pastas e arquivos temporários comuns
bin/
obj/

